{
  "root": true,
  "extends": [
    "plugin:import/errors",
    "plugin:import/warnings",
    "airbnb",
    "airbnb/hooks",
    "plugin:prettier/recommended"
  ],

  "rules": {
    "react/no-danger": "off", // it's self explainatory that no-danger should be used sparingly
    "react/react-in-jsx-scope": "off", // next.js does not require react in most components
    "no-console": "error", // no console statements allowed
    "prettier/prettier": "off" // don't show prettier errors as it will be fixed when saved anyway
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx"]
      },
      "babel-module": {
        "extensions": [".js", ".jsx"],
        "alias": {
          "@/components": "./components",
          "@/styles": "./styles"
        }
      }
    }
  },
  "env": {
    "node": true,
    "browser": true,
    "amd": true
  }
}
