.App {
  text-align: center;
}

.all {
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-transform: none !important;
}
.all-cont {
  margin-bottom: 2rem !important;
}

h1 {
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-weight: 500 !important;
}